<!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <title>타이틀</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div id="wrap_cv">
      <!-- top_cv -->
      <div class="top_cv">
        <div class="wrap_slogan">
          <h1>테스트 텍스트</h1>
          <p>
            동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세. <br>
            무궁화 삼천리 화려강산 대한 사람, 대한으로 길이 보전하세.<br>
            남산 위에 저 소나무, 철갑을 두른 듯 바람서리 불변함은 우리 기상일세.<br>
            무궁화 삼천리 화려강산 대한 사람, 대한으로 길이 보전하세.
          </p>
        </div>
        <dl class="list_contact">
          <dt><i class="fas fa-mobile-alt"></i>Tel.</dt>
          <dd>010-7753-7058</dd>
          <dt><i class="fas fa-envelope-open-text"></i>Email.</dt>
          <dd>tytydl_@naver.com</dd>
          <dt><i class="fab fa-github-alt"></i>Git.</dt>
          <dd><a href="https://github.com/huhdanbi/utils" target="_blank">github.com/huhdanbi</a></dd>
        </dl>
      </div>

      <div class="wrap_nav">
        <strong>MENU</strong>
        <ul class="list_nav">
          <li><a href="#top" class="link_menu">TOP</a></li>
          <li><a href="#middle" class="link_menu">MIDDLE</a></li>
          <li><a href="#bottom" class="link_menu">BOTTOM</a></li>
        </ul>
      </div>
      <!-- // top_cv -->

      <!-- mid_cv -->
      <div class="mid_cv">

        <!-- skill -->
        <div class="cont_cv" id="top">
          <div class="wrap_tit">
            <strong>BLANK</strong>
            <span class="txt_cv">
              동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 <br>
              무궁화 삼천리 화려강산 대한 사람, 대한으로 길이 보전하세
            </span>
          </div>

          <div class="wrap_cont skill_cont">
            <dl class="list_cv" v-for="item in list">
              <dt>{{item.tit}}</dt>
              <dd v-for="descItem in item.desc">{{descItem}}</dd>
            </dl>
          </div>
        </div>
        <!-- //skill -->

        <!-- career -->
        <div class="cont_cv career_cont" id="middle">
          <div class="wrap_tit">
            <strong>BLANK</strong>
            <span class="txt_cv">
              동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 <br>
              무궁화 삼천리 화려강산 대한 사람, 대한으로 길이 보전하세
            </span>
          </div>
          
          <div class="wrap_cont">
            <div class="group_exp" v-for="item in list">
              <div class="area_tit">
                <em class="tit_emph">{{item.tit}}</em>
                <span class="txt_etc">{{item.desc}} / {{item.date}}</span>
                <ul class="list_obj">
                  <li :class="'txt_' + use" v-for="use in item.use">{{use}}</li>
                </ul>
              </div>
              <dl class="list_cv" v-for="proj in item.proj">
                <dt>{{proj.tit}}</dt>
                <dd v-for="projDesc in proj.desc">{{projDesc}}</dd>
              </dl>
            </div>
          </div>
        </div>
        <!-- //career -->

        <div class="cont_cv pf_cont" id="bottom">
          <div class="wrap_tit">
            <strong>BLANK</strong>
            <span class="txt_cv">
              동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 <br>
              무궁화 삼천리 화려강산 대한 사람, 대한으로 길이 보전하세
            </span>
          </div>

          <div class="wrap_cont">
            <div class="owl-carousel owl-theme">
              <!-- v-for list -->
              <div class="item" v-for="item in list" :style="{backgroundImage:'url(\'' + item.image + '\')'}">
                <div class="group_item">
                  <div class="area_item">
                    <em class="sub_item">{{item.company}}</em> 
                    <strong class="tit_item">{{item.name}}</strong>
                    <span class="desc_item">{{item.desc}}</span>
                    <a :href="item.link" target="_blank" class="link_item">자세히 보기</a>
                  </div>
                </div>
              </div>
              <!-- //v-for list -->
            </div>
            <span class="txt_desc">drag || scroll</span>
          </div>
          
        </div>
        <span class="txt_end">끝까지 봐주셔서 감사합니다!</span>
      </div>
      <!-- //mid_cv -->

      <div class="scroll_cv" id="scrollCv">
        <span class="bar bar_top"></span>
        <em class="tit_scroll">SCROLL</em>
        
        <div class="wrap_progress">
          <span class="bar bar_progress"></span>
          <em class="tit_scroll">PROJECT</em>
          <span class="cont_progress box_progress">
            <span class="cont_progress scroll_progress"></span>
          </span>
        </div>
      </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/portfolioVue.js"></script>
  <script src="./js/portfolio.js"></script>
  </body>
</html>