<!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <title>허단비_이력서</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div id="wrap_cv">
      <!-- top_cv -->
      <div class="top_cv">
        <div class="wrap_slogan">
          <h1>안녕하세요 허단비입니다;)</h1>
          <p>
            마크업 개발자입니다.<br>
            마크업에서의 한계를 좀 더 표현하고 싶어<br>
            JavaScript를 활용한 UI개발도 함께하고 있습니다.<br>
            업무의 편의성을 위해 환경을 구성하는것에 흥미가 아주 많습니다.<br>
            능동적으로 책임감있게 업무를 하는 것을 좋아합니다 :)
          </p>
        </div>
        <dl class="list_contact">
          <dt><i class="fas fa-mobile-alt"></i>Tel.</dt>
          <dd>010-7753-7058</dd>
          <dt><i class="fas fa-envelope-open-text"></i>Email.</dt>
          <dd>tytydl_@naver.com</dd>
          <dt><i class="fab fa-github-alt"></i>Git.</dt>
          <dd><a href="https://github.com/huhdanbi/utils" target="_blank">github.com/huhdanbi</a></dd>
        </dl>
      </div>

      <div class="wrap_nav">
        <strong>MENU</strong>
        <ul class="list_nav">
          <li><a href="#SKILL" class="link_menu">SKILL</a></li>
          <li><a href="#CAREER" class="link_menu">CAREER</a></li>
          <li><a href="#PORTFOLIO" class="link_menu">PORTFOLIO</a></li>
        </ul>
      </div>
      <!-- // top_cv -->

      <!-- mid_cv -->
      <div class="mid_cv">

        <!-- skill -->
        <div class="cont_cv" id="SKILL">
          <div class="wrap_tit">
            <strong>SKILL</strong>
          </div>

          <div class="wrap_cont skill_cont">
            <dl class="list_cv" v-for="item in list">
              <dt>{{item.tit}}</dt>
              <dd v-for="descItem in item.desc">{{descItem}}</dd>
            </dl>
          </div>
        </div>
        <!-- //skill -->

        <!-- career -->
        <div class="cont_cv career_cont" id="CAREER">
          <div class="wrap_tit">
            <strong>CAREER</strong>
          </div>
          
          <div class="wrap_cont">
            <div class="group_exp" v-for="(item, index) in list">
              <div class="area_tit">
                <em class="tit_emph">{{item.tit}}</em>
                <span class="txt_etc">{{item.desc}} /<br> {{item.date}}</span>
                <span class="txt_summ" v-html="setRows(index)"></span>
                <ul class="list_obj" v-if="item.use">
                  <li :class="'txt_' + use" v-for="use in item.use">{{use}}</li>
                </ul>
              </div>
              <!-- <dl class="list_cv" v-for="proj in item.proj">
                <dt>{{proj.tit}} <span :class="'txt_'+use" v-for="use in proj.use"><span class="txt_use">{{use}}</span></span></dt>
                <dd v-for="projDesc in proj.desc">{{projDesc}}</dd>
              </dl> -->
            </div>
          </div>
        </div>
        <!-- //career -->

        <div class="cont_cv pf_cont" id="PORTFOLIO">
          <div class="wrap_tit">
            <strong>PORTFOLIO</strong>

          </div>

          <div class="wrap_cont">
            <div class="owl-carousel owl-theme">
              <!-- v-for list -->
              <div class="item" v-for="item in list" :style="{backgroundImage:'url(\'' + item.image + '\')'}">
                <div class="group_item">
                  <div class="area_item">
                    <em class="sub_item">{{item.company}}</em> 
                    <strong class="tit_item">{{item.name}}</strong>
                    <ul class="list_obj">
                      <li :class="'txt_' + use" v-for="use in item.desc">{{use}}</li>
                    </ul>

                    <a :href="item.link" class="link_item" @click="urlState(item.link)" v-bind:target="(item.link == '#none') || (item.link == '#none1')? '_self' : '_blank'">자세히 보기</a>
                  </div>
                </div>
              </div>
              <!-- //v-for list -->
            </div>
            <span class="txt_desc">drag || scroll</span>
          </div>
          
        </div>
        <span class="txt_end">끝까지 봐주셔서 감사합니다!</span>
      </div>
      <!-- //mid_cv -->

      <div class="scroll_cv" id="scrollCv">
        <span class="bar bar_top"></span>
        <em class="tit_scroll">SCROLL</em>
        
        <div class="wrap_progress">
          <span class="bar bar_progress"></span>
          <em class="tit_scroll">PROJECT</em>
          <span class="cont_progress box_progress">
            <span class="cont_progress scroll_progress"></span>
          </span>
        </div>
      </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="./js/index.js"></script>
  <script src="./js/portfolioVue.js"></script>
  <script src="./js/portfolio.js"></script>
  </body>
</html>